$color-primary : rgb(0, 128, 55);
$color-seconds:#0D9949;
$color-black:#000;
$color-grey :rgba(215, 215, 215, 0.43);
$color-red:red;
$color-green: green;
.categoryPage{
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 10px;
  .right{
    align-items: center;
    margin-left: 20px;
    padding: 5px;
    width: 98%;
    .content{
      margin-top: 12px;
      input.form-control{
        margin-bottom: 0;
      }
      button.btn.btn-primary{
        background-color: #00b74a;
        width: 120px;
      }
      .MDBDatatable input::placeholder {
        color: #999;
        font-style: italic;
      }
    }
    .top{
      width: 100%;
      .hideGroup{
        display: none;
      }
      .filterGroup{
        z-index: 1;
        text-align: start;
        display: grid;
        column-gap: 50px;
        grid-template-columns: auto;
        position: absolute;
        top: 100px;
        right: 80px;
        .item{
          input[type="checkbox"]{
            margin-right: 10px;
          }
          label{
            color: rgba(0, 0, 0, 0.8);
          }
        }
      }
      display: flex;
      .title{
        color: black;
        width: 30%;
        text-transform: uppercase;
      }
      .groupBtn{
        text-align: end;
        width: 70%;
        .btn-add{
          justify-content: center;
          i.fa-sort-down{
            margin-left: 10px;
          }
        }
        .btn{
          margin-top: 5px;
          margin-right: 10px;
          i{
            margin-right: 10px;
          }
        }
      }
    }
  }
  .item1{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .contentBody{
    display: flex;
    flex-direction: row;
    .div1{
      width: 20%;
      margin-right: 10px;
      border-right: 3px solid $color-grey;
      padding-right: 10px;
      .file-input {
        display: none;
      }
    }
    .div2{
      width:80%;
      margin-left: 20px;
    }
  }
}


